

/* Color Palette */
:root{
  --app-back-color: #e5e5e5;
  --app-fore-color: #ffffff;
  --app-theme-color: #6a3eea;
  --app-soft-theme-color: #eae8fe;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: var(--app-back-color);
  padding: 15px;
}


